# Copy to .env and adjust values
# This environment file is used to run code outside of the Airflow environment
# It is used to run the code in the IDE or in the terminal.
# It is sourced in the __init__.py of the test folder.

# ATLAS
# For setting the connection, read the README
TEST_ATLAS_CONN_STRING=

TEST_ATLAS_VECTOR_DATABASE=HackathonDB
TEST_ATLAS_VECTOR_EMBEDDINGS_COLLECTION=vector_embeddings

TEST_ATLAS_AIRFLOW_DATABASE=Airflow
TEST_ATLAS_AIRFLOW_BATCH_COLLECTION=batches

# OPEN_AI
# For setting the connection, read the README
TEST_OPEN_AI_API_KEY=

TEST_OPEN_AI_EMBEDDING_MODEL=text-embedding-ada-002
TEST_OPEN_AI_LLM_MODEL=gpt-4o-mini
